:root {
    --green: rgb(7, 139, 139);
}
body{
    overflow-x: hidden;
}
#bg{
    background-image: url('../assets/1.jpg');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter:blur(4px);
        -o-filter:blur(4px);
        -ms-filter:blur(4px);
        -moz-filter:blur(4px);
        -webkit-filter:blur(4px);
    transform: scale(1.03);
}
#create_place_field{
    height: 100vh;
    width: 100%;
}
#create_place_form{
    width: 1400px;
    height: 850px;
    margin: 0;
    position: absolute;           
    top: 50%; 
    left: 50%;                     
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
}
#create_place_form h2{
    text-align: center;
    font-family: 'Courier new';
    font-size: 250%;
    margin: 70px 0 70px 0;
}
form{
    width: 100%;
}
.text_input{
    width: 35%;
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    font-size: 110%;
    line-height: 40px;
    padding-left: 15px;
    outline: none;
    margin: 0 10px 50px 10px;
    
}
.place_type_input{
    width: 35%;
    color: rgba(0, 0, 0, 0.65);
    border: none;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(143, 143, 143);
    font-size: 110%;
    line-height: 40px;
    padding-left: 15px;
    outline: none;
    margin: 0 10px 50px 10px;
    cursor: pointer;
}
.place_desc_input{
    width: 73%;
    border: 1px solid rgb(143, 143, 143);
    outline: none;
    font-size: 120%;
    line-height: 22px;
    resize: none;
}
.place_file_input{
    margin-top: 30px;
    transform: translate(-385px);
}
::-webkit-file-upload-button {
    background-color: rgba(7, 139, 139, 0.8); /* Green */
    border: none;
    padding: 7px 25px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
::-webkit-file-upload-button:hover {
    background-color: rgba(7, 139, 139, 1); /* Green */
}

.share_place_submit_button{
    background-color: var(--green); /* Green */
    font-family: 'Lato';
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    padding: 13px 60px;
    transform: translate(-423px);
}
.share_place_submit_button:hover{
    padding: 10px 57px;
    border: 3px solid var(--green);
    color: var(--green);
    background-color: white;
}