{% extends 'places/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_place_style.css' %}">

<div id="bg"></div>
    <div id="create_place_field">

            <div id="create_place_form">
                <h2>Share with us!</h2>
                <form method="post" enctype="multipart/form-data" action="{% url 'add_place' %}">
                    {% csrf_token %}
                    <input type="text" name="place_name" class="text_input" placeholder="title" required>
                    <select name="place_type" class="place_type_input" required>
                        <option value="" selected="selected" disabled="disabled">select category</option>
                        <option value="event">event</option>
                        <option value="sightseeing">sightseeing</option>
                        <option value="leisure">leisure</option>
                    </select>
                    <input type="text" name="place_location" class="text_input" placeholder="city" required>
                    <input type="text" name="place_address" class="text_input" placeholder="address (optional)">
                    <textarea name="place_desc" class="place_desc_input" cols="30" rows="10" placeholder="description..."></textarea><br>
                    <input type="file" name="place_photo" class="place_file_input"><br>
                    <input type="submit" value="SHARE" class="share_place_submit_button">
                </form>
            </div>

    </div>
    
{% endblock content %}