{% extends 'places/base.html' %}
{% load static %}

{% block content %}
    <div id="SLIDER">
        
        <p class="enjoy">Enjoy.</p>

        <form id="searchbar" method="POST">
            {%csrf_token%}
            <input type="search" results=5 name="localisation_text_field" placeholder="your localisation..." class="localisation_text_field">
            <button type="submit" class="search_btn" style="vertical-align:middle">search</button>
            <div class="autofill_bg">
                <ul class="autofii_ul"></ul>
            </div>
        </form>

        <p id="arrow">&#10093;</p>
    </div>

    <div id="work_title">
        <ol id="title">
            <li class="title">travel</li>
            <li class="title">and</li>
            <li class="title">share</li>
        </ol>
    </div>

    <div id="work_content">
        <ol id="content">
            <li class="content">How it works?</li>
            <li class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.</li>
        </ol>
    </div>

    <div id="uchwyt"></div>
    
    <div id="ranking">
        
        <ol id="ranking_title" onmousedown="return false" onselectstart="return false">
            <li class="ranking_title">TOP</li>
            <li class="ranking_title">RANKING</li>
        </ol>
        
        <form method="POST">
            {% csrf_token %}
            <select name="user_select" id="selectbox" onchange="this.form.submit()">
                <option value="" selected="selected" disabled="disabled">ORDER BY</option>
                <option value="rate">TOP RATED</option>
                <option value="add_date">NEWEST</option>
                <option value="id">RECOMMENDED</option>
            </select>
            <img src="{% static 'assets/filter.png' %}" class="user_filter">
        </form>
        <script>
            $('.user_filter').click(function(){
                $('#filter_field').toggleClass('invisible');
            });
        </script>
        
        <div id="filter_field" class="invisible">
            <form method="POST">
                {% csrf_token %}
                <label><input type="checkbox" name="filter_event" class="filter_checkbox"> EVENT</label><br>
                <label><input type="checkbox" name="filter_sightseing" class="filter_checkbox"> SIGHTSEING</label><br>
                <label><input type="checkbox" name="filter_leisure" class="filter_checkbox"> LEISURE</label><br></br>
                <input type="submit" value="FILTER" class="filter_submit_button">
            </form>
        </div>

        <img src="{% static 'assets/crown.png' %}" class="crown">

        <div id="trip_field">
            {% for place in places %}
                   
                <div id="trip" class="trip {{ place.id }}">
                    <div class="trip_photo" style="background-image: url( 'media/{{ place.image }}' )"></div>
                    <p class="trip_title">{{ place.title }}</p>
                    <div style="float: right;"> <img src="{% static 'assets/star.png' %}" class="rating_star"> <p class="trip_rate">{{ place.rate }}</p> </div>
                    <p class="trip_txt">{{ place.description|safe }}</p>
                    <p class="trip_date">&#9672; {{place.city}}, {{ place.add_date }}</p>
                </div>

                <script>
                    $('.{{ place.id }}').click(function(e){
                        
                        document.getElementById("uchwyt").innerHTML = `
                            <div id="clicked_trip_field">
                                <span class='clicked_trip_x'>&#10005;</span>
                                <div class="clicked_trip_photo" style="background-image: url( media/{{ place.image }} )"></div>
                                <p class="clicked_trip_title">{{ place.title }}</p>

                                <div class="clicked_trip_rating">
                                    <img src="{% static 'assets/star.png' %}" class="clicked_rating_star">
                                    <span class="clicked_trip_rate">{{ place.rate }}</span>
                                </div>

                                <p class="clicked_trip_txt">{{ place.description|safe }}</p>
                                <p class="clicked_trip_date">&#9672; {{place.city}}, {{ place.add_date }}</p>
                                <p class="clicked_trip_author">Author: {{ place.author }}</p>

                                {% if user.is_authenticated and user.pk == place.author.pk %}
                                    <button class="edit buttons">Edit</button>
                                    <a href="{% url 'delete_place' place.pk %}"><button class="delete buttons">Delete</button></a>
                                {% endif %}
                                
                            </div>`;
                            
                        $('.clicked_trip_x').click(function(e){
                            $('#clicked_trip_field').toggleClass('invisible');
                        });

                        $('.clicked_trip_photo').click(function(){
                            $('.clicked_trip_photo').toggleClass('resize');
                        })

                        $('.clicked_trip_rating').hover(function(){
                            $('span').remove('.clicked_trip_rate');
                            $('img').remove('.clicked_rating_star');
                            $('.clicked_trip_rating').append(`<div class='user_vote'>
                                <img src="{% static 'assets/star.png' %}" class="vote_rating_star star_1">
                                <img src="{% static 'assets/star.png' %}" class="vote_rating_star star_2">
                                <img src="{% static 'assets/star.png' %}" class="vote_rating_star star_3">
                                <img src="{% static 'assets/star.png' %}" class="vote_rating_star star_4">
                                <img src="{% static 'assets/star.png' %}" class="vote_rating_star star_5">
                                </div>`);  


                            $('.star_1').hover(function(){
                                $('.star_1').addClass('opacited');
                            }, function(){
                                $('.star_1').removeClass('opacited');
                            });

                            $('.star_2').hover(function(){
                                $('.star_1, .star_2').addClass('opacited');
                            }, function(){
                                $('.star_1, .star_2').removeClass('opacited');
                            });

                            $('.star_3').hover(function(){
                                $('.star_1, .star_2, .star_3').addClass('opacited');
                            }, function(){
                                $('.star_1, .star_2, .star_3').removeClass('opacited');
                            });

                            $('.star_4').hover(function(){
                                $('.star_1, .star_2, .star_3, .star_4').addClass('opacited');
                            }, function(){
                                $('.star_1, .star_2, .star_3, .star_4').removeClass('opacited');
                            });

                            $('.star_5').hover(function(){
                                $('.star_1, .star_2, .star_3, .star_4, .star_5').addClass('opacited');
                            }, function(){
                                $('.star_1, .star_2, .star_3, .star_4, .star_5').removeClass('opacited');
                            });
                            

                        },  function(){
                            $('div').remove('.user_vote');  
                            $('.clicked_trip_rating').append(`
                                <img src="{% static 'assets/star.png' %}" class="clicked_rating_star">
                                <span class="clicked_trip_rate">{{ place.rate }}</span>
                            `);

                            });
                        });
                </script>
                
            {% endfor %}

        </div>
        
        <p class="more_button"><a class="link_eff" href="{% url 'more_button' %}">MORE &#9660;</a></p>
        
    </div>

    <div id="sharing_title">
        <ol id="title">
            <li class="title">create</li>
            <li class="title">and</li>
            <li class="title">design</li>
        </ol>
    </div>

    <div id="sharing_content">
        <ol class="content">
            <li class="content">Wanna share?</li>
            <li class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.</li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_place' %}">
                        <button id="sharing_btn">start now</button>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button id="sharing_btn">start now</button>
                    </a>
                {% endif %}
                    
                
            </li>
        </ol>
    </div>


    <script>
        function selectPosition(){        
            let first_trip = $(".trip_photo").first();
            let x = first_trip.position();
            if (window.innerWidth > 1000){ 
                $( ".crown" ).css({
                    top: x.top - 50,
                    left: x.left + 210
                });
            } 
            if (window.innerWidth < 1000){
                $( ".crown" ).css({
                    top: x.top - 50,
                    left: '50%',
                    transform: 'translateX(-50%)'
                });
            }

        }

        $( document ).ready(setTimeout(selectPosition), 2000);
        $( window ).on('resize', selectPosition);
        $( window ).on('scroll', selectPosition);


    </script>
    <script src="{% static 'scripts/suggestions.js' %}"></script>
    <script src="{% static 'scripts/autofilling_searchbar.js' %}"></script>
{% endblock content %}