{% extends 'places/base.html' %}
{% load static %}

{% block content %}
    <div id="SLIDER">
        
        <p class="enjoy">Enjoy.</p>

        <form id="searchbar">
            
            <input type="search" results=5 placeholder="your localisation..." name="search" class="localisation_text_field">
            <button type="submit" class="search_btn" style="vertical-align:middle">search</button>

        </form>

        <p id="arrow">&#10093;</p>
    </div>

    <div id="work_title">
        <ol id="title">
            <li class="title">travel</li>
            <li class="title">and</li>
            <li class="title">share</li>
        </ol>
    </div>

    <div id="work_content">
        <ol id="content">
            <li class="content">How it works?</li>
            <li class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.</li>
        </ol>
    </div>

    <div id="ranking">
        
        <ol id="ranking_title" onmousedown="return false" onselectstart="return false">
            <li class="ranking_title">TOP</li>
            <li class="ranking_title">RANKING</li>
        </ol>
        
        <select id="selectbox" data-selected="" >
            <option value="" selected="selected" disabled="disabled">SORT BY</option>
            <option value="1">TOP RATED</option>
            <option value="2">NEWEST</option>
            <option value="3">RECOMMENDED</option>
        </select>

        <img src="{% static 'assets/crown.png' %}" class="crown"></img>

        <div id="trip_field">

            
            {% for place in places %}
                   
                <div id="trip" class="trip">
                    <div class="trip_photo" style="background-image: url( {% static 'assets/town.jpg' %} )"></div>
                    <p class="trip_title">{{ place.title }}</p>
                    <div style="float: right;"> <img src="{% static 'assets/star.png' %}" class="rating_star"> <p class="trip_rate">{{ place.rate }}</p> </div>
                    <p class="trip_txt">{{ place.description }}</p>
                    <p class="trip_date">&#9672;{{place.city}}, {{ place.add_date }}</p>
                </div>

            {% endfor %}

            {{book.siema}}
        </div>
        
        <p class="more_button">MORE &#9660;</p>
        
    </div>

    <div id="sharing_title">
        <ol id="title">
            <li class="title">create</li>
            <li class="title">and</li>
            <li class="title">design</li>
        </ol>
    </div>

    <div id="sharing_content">
        <ol class="content">
            <li class="content">Wanna share?</li>
            <li class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nam lorem nisl, ullamcorper vel augue eget, lobortis efficitur metus. Duis laoreet est arcu, eget facilisis orci egestas vel.</li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_place' %}">
                        <button id="sharing_btn">start now</button>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button id="sharing_btn">start now</button>
                    </a>
                {% endif %}
                    
                
            </li>
        </ol>
    </div>
    <script>
        function selectPosition(){        
            let first_trip = $(".trip_photo").first();
            let x = first_trip.position();

            if (window.innerWidth > 1200) {
                $( "select" ).css({
                    top: x.top - 80,
                    left: x.left
                });
            }
            if (window.innerWidth > 1000){ 
                $( ".crown" ).css({
                    top: x.top - 50,
                    left: x.left + 210
                });
            } 
            if (window.innerWidth < 1200){
                $( "select" ).css({
                    top: x.top -100,
                    left: "50%",
                    transform: "translateX(-50%)",
                });
            }

            if (window.innerWidth < 1000){
                $( ".crown" ).css({
                    top: x.top - 50,
                    left: '50%',
                    transform: 'translateX(-50%)'
                });
            }

        }

        $( document ).ready(setTimeout(selectPosition), 2000);
        $( window ).on('resize', selectPosition);
        $( window ).on('scroll', selectPosition);
    </script>
{% endblock content %}