{% extends 'places/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_style.css' %}">
        <div id="bg"></div>
            {% if form.errors %}
                    <div id="messages">
                        <p>&#128172;&nbsp<strong>NOTICE: </strong>Form errror...<span id='message_x'>&#10005;</span></p>
                    </div>
                    <script>
                        $('#message_x').click(function(e){
                            $('#messages').toggleClass('invisible');
                        });
                    </script>
            {% endif %}
            <div id="register_field">
                    <div id="form_container">
                        <div class="register_info">
                            <h1>PRIVACY POLICY</h1>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, eos! Impedit at, eum rerum assumenda suscipit quis saepe fuga? Similique nesciunt ab deleniti, eveniet ut esse! Atque rem exercitationem ex.</p><br>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, eos! Impedit at, eum rerum assumenda suscipit quis saepe fuga? Similique nesciunt ab deleniti, eveniet ut esse! Atque rem exercitationem ex.</p><br>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, eos! Impedit at, eum rerum assumenda suscipit quis saepe fuga? Similique nesciunt ab deleniti, eveniet ut esse! Atque rem exercitationem ex.</p>
                            <a href="{% url 'login' %}"><input type="button" value="I already have an account" class='have_account_button'></a>
                        </div>
                        <div class="register_form">
                            <h2>REGISTER HERE</h2>
                            <form method="POST" action="{% url 'register' %}">
                                {% csrf_token %}

                                <center>
                                    <p>{{ form.username }}</p>
                                    <p>{{ form.email }}</p>
                                    <p>{{ form.password1 }}</p>
                                    <p>{{ form.password2 }}</p>
                                </center>
                                <p><label>{{ form.tac }} I agree to the <a class='terms_link' href="">Terms and Conditions </a></label></p>
                                <input id='register_submit_button' type="submit" value="Register"> 
                           
                            </form>
                        
                        </div>
                    </div>
            </div>

{% endblock content %}